/* clock css */

#clock {
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	bottom: -20px;
	right: 10px;
	font-size: 96px;
	line-height: 96px;
}

#clock #seconds {
	display: none;
}

#clock.show-secs #seconds {
	display: inline-block;
}

#clock #hours:after,
#clock.show-secs #minutes:after {
	content: ":";
}

#clock #ampm {
	font-size: 48px;
    text-transform: uppercase;
}

#clock #hours,
#clock #minutes,
#clock #ampm {
	display: inline-block;
}

#clock #today {
	font-size: 32px;
	line-height: 32px;
}

@media ( min-width: 750px ) and ( orientation: portrait ) {
	#clock {
		bottom: -40px;
		font-size: 180px;
		line-height: 180px;
	}
	#clock #ampm {
		font-size: 90px;
	}
	#clock #today {
		font-size: 64px;
		line-height: 64px;
	}
}

/* weather css */

@font-face {
	font-family: 'weather';
	src: url("../fonts/artill_clean_icons.otf") format("opentype");
}

#weather {
	font-size: 92px;
	font-family: 'Varela Round', sans-serif;
    position: absolute;
    bottom: -3px;
    left: 10px;
    font-size: 96px;
    line-height: 96px;
}

#weather div {
	display: inline-block;
}

#weather h2 {
	margin: 0px;
	margin-top: -10px;
	font-size: 92px;
	line-height: 92px;
	font-weight: normal;
}

#weather i {
	font-family: 'weather';
	font-style: normal;
}

#weather #hilo {
	font-size: 28px;
	line-height: 28px;
	margin-left: -16px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.dark {
	color: #fff;
}