/* clock css */

#clock {
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	bottom: -20px;
	right: 10px;
	font-size: 96px;
	line-height: 96px;
}

#clock #seconds {
	display: none;
}

#clock.show-secs #seconds {
	display: inline-block;
}

#clock #hours:after,
#clock.show-secs #minutes:after {
	content: ":";
}

#clock #ampm {
	font-size: 48px;
    text-transform: uppercase;
}

#clock #hours,
#clock #minutes,
#clock #ampm {
	display: inline-block;
}

@media ( min-width: 750px ) and ( orientation: portrait ) {
	#clock {
		bottom: -40px;
		font-size: 180px;
		line-height: 180px;
	}
	#clock #ampm {
		font-size: 90px;
	}
}